.settings-container {
    position: absolute;
    top: 0;
    left: 50%;

    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    width: auto;
    margin-left: 15px;

    button {
        margin-bottom: 30px;
        height: 50px;
        width: 100%;
        font-size: 20px;
        border: 2px solid $secondary-color;
        border-radius: 30px;
        background-color: $tertiary-color;
    }

    input {
        font-size: 15px;
        font-family: "Gravitas One", serif;
    }

    .input-field {
        margin-top: 100px;
    }

    .step-input {
        margin-top: 15px;
    }
}
