$primary-color: #F7D6BE;
$secondary-color: #251100;
$tertiary-color: #E66021;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: $primary-color;
}

button {
    cursor: pointer;
    color: $secondary-color;
}

.container {
    position: relative;
    height: 600px;
    width: 715px;
    margin-left: 357px;
}

@import '_counter';

@import '_settings.scss';