$primary-color: #F7D6BE;
$secondary-color: #251100;
$tertiary-color: #E66021;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: $primary-color;
    flex-direction: column;
}

button {
    font-family: "Fascinate", system-ui;
    cursor: pointer;
    color: $secondary-color;
}

.title {
    font-family: "Fascinate", system-ui;
    color: $secondary-color;
    margin-bottom: 50px;
    font-size: 50px;
}

.container {
    position: relative;
    height: 600px;
    width: 715px;
    margin-left: 357px;
}

@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

@import '_counter';

@import '_settings.scss';

@import '_media-query.scss';