@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #F7D6BE;
  flex-direction: column;
}

button {
  font-family: "Fascinate", system-ui;
  cursor: pointer;
  color: #251100;
}

.title {
  font-family: "Fascinate", system-ui;
  color: #251100;
  margin-bottom: 50px;
  font-size: 50px;
}

.container {
  position: relative;
  height: 600px;
  width: 715px;
  margin-left: 357px;
}

.counter {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 175px 175px;
  background-color: #251100;
  border: 1px solid black;
  border-radius: 10px;
  height: auto;
  width: auto;
  box-shadow: 5px 5px 5px gray;
}

.counter-display {
  font-family: "Gravitas One", serif;
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FBE8DB;
  color: #251100;
  border: 2px solid #251100;
  border-radius: 10px;
  margin: 15px;
  margin-bottom: 15px;
  height: 220px;
  font-size: 100px;
}

.decrement-button {
  height: 100px;
  margin: 15px;
  margin-right: 5px;
  margin-top: 0;
  border-radius: 10px;
  font-size: 50px;
  background-color: #E66021;
}

.increment-button {
  height: 100px;
  margin: 15px;
  margin-left: 5px;
  margin-top: 0;
  border-radius: 10px;
  font-size: 50px;
  background-color: #E66021;
}

.reset-button {
  height: 100px;
  border-radius: 10px;
  grid-column: span 2;
  margin: 15px;
  margin-top: 0;
  font-size: 35px;
  background-color: #F7D6BE;
}

.settings-button {
  height: 100px;
  border-radius: 10px;
  grid-column: span 2;
  margin: 15px;
  margin-top: 0;
  font-size: 35px;
  background-color: #F7D6BE;
}

.settings-container {
  position: absolute;
  top: 0;
  left: 50%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  width: auto;
  margin-left: 15px;
}
.settings-container button {
  margin-bottom: 30px;
  height: 50px;
  width: 100%;
  font-size: 20px;
  border: 2px solid #251100;
  border-radius: 30px;
  background-color: #E66021;
}
.settings-container input {
  font-size: 15px;
  font-family: "Gravitas One", serif;
}
.settings-container .input-field {
  margin-top: 100px;
}
.settings-container .step-input {
  margin-top: 15px;
}

@media screen and (orientation: portrait) {
  .title {
    margin-top: 10%;
  }
  .container {
    height: 900px;
    width: 350px;
    margin: auto;
  }
  .settings-container {
    position: absolute;
    top: 610px;
    left: 0;
    width: 352px;
    margin: 0;
    align-items: center;
    justify-content: start;
    height: auto;
  }
  .settings-container .input-field {
    margin-top: 40px;
  }
  .settings-container .step-input {
    margin-bottom: 40px;
  }
  .settings-container button {
    margin: auto;
    width: 260px;
  }
}
@media screen and (max-width: 500px) {
  .title {
    text-align: center;
  }
  .container {
    width: 300px;
  }
  .counter {
    grid-template-columns: 150px 150px;
  }
  .counter button {
    height: 90px;
  }
  .counter-display {
    height: 180px;
  }
  .settings-container {
    position: absolute;
    top: 530px;
    left: 0;
    width: 302px;
  }
}